<b>Project Name | Description | Path</b><br>

<% _.each(projects, function(project) { %>
<a href="/list/<%= project.name %>"><%= project.name %></a> | <%= project.description %> | <%= project.path %> <br>
<% }); %>

